@using cnpmnc.shared
@model PagedResponseModel<cnpmnc.backend.DTOs.GradeDTOs.GradeDTO>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
ViewData["Title"] = "Details";
Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
         <div class="container-fluid">
            <h1 class="mt-4">Danh sách lớp</h1>
            <div class="card mb-12">
               <div class="card-header">
                  <div class="row">
                     <div class="col-md-6 col-xs-12">
                        <form asp-action="Details" method="get">
                           <div class="row">
                              <div class="col-md-9">
                                 <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                              </div>
                              <div class="col-md-3">
                                 <button type="submit" class="btn btn-primary">Tìm</button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
               <div class="card-body">
                  <div class="table-responsive">
                     <table class="table table-bordered">
                        <thead>
                           <tr>
                              <th>
                                 Lớp
                              </th>
                              <th>
                                 Tên khóa học
                              </th>
                              <th>
                                 Số buổi
                              </th>
                              <th>
                                 Sĩ số lớp
                              </th>
                              <th>
                                 Lịch dạy
                              </th>
                           </tr>
                        </thead>
                        <tbody>
                           @foreach (var item in Model.Items)
                           {
                           <tr>
                              <td>
                                 @Html.DisplayFor(modelItem => item.Name)
                              </td>
                              <td>
                                 @Html.DisplayFor(modelItem => item.Course.Name)
                              </td>
                              <td>
                                 @Html.DisplayFor(modelItem => item.NumberOfSessions)
                              </td>
                              <td>
                                 @Html.DisplayFor(modelItem => item.Total)
                              </td>
                              <td>
                                 @Html.DisplayFor(modelItem => item.Schedules)
                              </td>
                           </tr>
                           }
                        </tbody>
                     </table>
                  </div>
                  @await Component.InvokeAsync("Pager", Model)
               </div>
            </div>
         </div>