@using cnpmnc.shared
@using Microsoft.AspNetCore.Http
@using cnpmnc.shared.Enums
@inject IHttpContextAccessor HttpContextAccessor
@model PagedResponseModel<cnpmnc.backend.DTOs.AssignmentGradeDTOs.AssignmentGradeDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Scripts{
<script>
    setTimeout(function () {
        $('#msgAlert').fadeOut('slow');
    }, 2000);
</script>
}
<div class="container-fluid">
    <h1 class="mt-4">Danh sách phân công</h1>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" asp-action="CreateOrUpdate" asp-controller="AssignmentGrade">Tạo mới</a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Tên khóa học
                            </th>
                            <th>
                                Tên giảng viên
                            </th>
                            <th>
                                Ngày phân công
                            </th>
                            <th>
                                Note
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Course.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Teacher.Name)
                                </td>
                                <td>
                                    @Convert.ToDateTime(item.AssignDate).ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Note)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.State)
                                </td>
                                <td>
                                    @if (item.State == AssignmentGradeStateEnumDto.WaitingForAcceptance){

                                        <text>@Html.ActionLink("Sửa", "CreateOrUpdate", new { id = item.Id }) |</text>
                                    }
                                        
                                        @Html.ActionLink("Xem", "Details", new { id = item.Id })
                                        @if (item.State == AssignmentGradeStateEnumDto.WaitingForAcceptance)
                                    {

                                        <text>| @Html.ActionLink("Xóa", "Delete", new { id = item.Id })</text>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>