@using cnpmnc.shared
@model PagedResponseModel<cnpmnc.backend.DTOs.Course.CourseDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateOrUpdate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên khóa học
            </th>
            <th>
                Nội dung
            </th>
            <th>
                Chi tiết khóa học
            </th>
            <th>
                Ngày bắt đầu
            </th>
            <th>
                Ngày kết thúc
            </th>
            <th>
                Điều kiện học
            </th>
            <th>
                Học phí
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyConditions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tuition)
            </td>
            <td>
                @Html.ActionLink("Edit", "CreateOrUpdate", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
