@using cnpmnc.shared
@model PagedResponseModel<cnpmnc.backend.DTOs.Course.CourseDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="container-fluid">
    <h1 class="mt-4">Danh sách khóa học</h1>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" asp-action="CreateOrUpdate" asp-controller="Course">Tạo mới</a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                <a href="">Tên khóa học <span><i class="fa-solid fa-sort-down"></i></span></a>
                            </th>
                            <th>
                                Nội dung
                            </th>
                            <th>
                                Chi tiết khóa học
                            </th>
                            <th>
                                Ngày bắt đầu
                            </th>
                            <th>
                                Ngày kết thúc
                            </th>
                            <th>
                                Điều kiện học
                            </th>
                            <th>
                                Học phí
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Content)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Detail)
                                </td>
                                <td>
                                    @Convert.ToDateTime(item.StartDate).ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @Convert.ToDateTime(item.EndDate).ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StudyConditions)
                                </td>
                                <td>
                                    @String.Format("{0:0,0}", item.Tuition)<span>đ</span>
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "CreateOrUpdate", new { id = item.Id }) |
                                    @Html.ActionLink("Xem", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>